.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-block{
    width: 30%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 5px black solid;
}